.excalidraw .App-menu__left{
    display: none !important;
}

.excalidraw .App-toolbar{
    display: none !important;
}

.excalidraw .sidebar-trigger__label-element{
    display: none !important;
}

.excalidraw .App-menu_top{
    display: none !important;
}